body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}


body {
    background-color: beige;
}
nav {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 50px;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 25px;
}

nav .brand {
    font-size: xx-large;
    font-weight: bold;
}

nav .brand a {
    color: blue;
    text-decoration: none;
}

nav .menu li a {
    text-decoration: none;
    font-weight: 400;
}

nav .menu li {
    list-style: none;
    padding: 5px;
}

nav .menu li:hover {
    background-color: navajowhite;
}

nav .menu .dropdown {
    display: none;
}

nav ul li:hover .dropdown {
    display: block;
    background-color: yellowgreen;
    position: absolute;
    margin-top: 12px;
    padding: 5px;
    border-radius: 4px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    font-size: 50px;
    border-radius: 20px;
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
}



.footer {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

}

.footer-section {
    width: 20%;
    margin: 0 auto;
    
  
}

#copyright {
    text-align: center;
    width: 100%;
    padding: 50px 0px 50px 0px;
    margin-top: 50px;
    
    
}

.column {
    flex: 1;
    padding: 20px;
    max-width: 400px;
    margin: 10px;
}

